# Fichiers de build CMake
build/
[Bb]uild/
*.build/

# Fichiers générés par les IDE
.vscode/
.idea/
*.suo
*.user
*.sln
*.vcxproj*

# Fichiers binaires
*.exe
*.dll
*.so
*.a
*.lib
*.out

# Autres
*.log
*~